<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Buffalo Blast</title>
   <style type="text/css" media="screen">
   body {
	   margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;
   }
	.mainBody {
		background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif);
		background-repeat:repeat-y;
	}
	
	.tdLeft {
		width:260px;
		margin-right:15px;
		padding-left:32px;
		padding-right:32px;
		padding-top:10px;
		padding-bottom:20px;
	}
	
	.mainTable h1, .headerText {
		font-size:18px;
	}
	
	.mainTable p, .mainText {
		font-size:12px;
		line-height:16px;
	}
	
	.tdRight {
		width:263px;
		padding-top:10px;
		padding-right:30px;
	}
	
	.box {
		width:243px;
		padding:10px;
		background-color:#e1e1e1;
		margin-bottom:15px;
		float:left;
	}
	
   </style>
</head>
<body style="margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;">

<table width="632" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
    <p style="font-size:12px; line-height:16px;" align="center">If you are having trouble viewing this message click <a href="http://markitmedia.net/eblast/templates/navajopto/eblast-02-24-2012.html">here</a></p>
    <img src="http://www.markitmedia.net/eblast/templates/navajopto/header.gif" width="632" height="409" border="0" alt="Navajo PTO"></td>
  </tr>
  <tr>
    <td style="background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif); background-repeat:repeat-y;" background="http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif">
    	<table width="632" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td style="width:260px; margin-right:15px; padding-left:32px; padding-right:32px; padding-top:10px; padding-bottom:20px;" valign="top" cellpadding="0" cellspacing="0">
            	<h1 style="font-size:18px;">Welcome to our new Principal</h1>
                <p style="font-size:12px; line-height:16px;">Navajo PTO would like to extend a warm welcome to Mr. Robert Aguilar who will be taking on the position of principal as of March 12th. We look forward to joining Mr. Aguilar in his commitment to the Navajo community.  We would also like to thank Mr. Holmes for his 5 years of service and leadership and good luck in his new position at SUSD.</p>
                <h1 style="font-size:18px;">Space and Science Night</h1> 
                <img src="http://www.markitmedia.net/eblast/templates/navajopto/photo-2.jpg" width="260" height="115" border="0" /> 
                <p style="font-size:12px; line-height:16px;">Over 100 families attended and enjoyed the activities at this annual event.  Parents and children launched bottle rockets and film canister cannons, learned about the night sky in the Astrolab, handled snails and crawfish, played with squishy circuits and saw fossils, giant beetles and live wild birds. Thank you to Pueblo, Kiva, Mohave and Saguaro for joining and supporting Navajo's event this year.</p>
                <h1 style="font-size:18px;">Field Day: March 1st and 2nd</h1>
                <p style="font-size:12px; line-height:16px;">Grades 4th – 6th will be participating in Navajo's annual Field Day on Thursday morning and the Pre-K – 3rd will hold their events on Friday afternoon. Among the activities Mr. B has planned are shot put, 50 yard dash, basketball shootout, and scooter relay. He needs lots of volunteers to help run the stations --so come out and have fun with your child! Please return the sign-up sheet that was sent home this week indication which day you can help. Thanks!</p>
                <h1 style="font-size:18px;">Rawhide Day</h1>
                <p style="font-size:12px; line-height:16px;">On Saturday, March 24th bring the whole family to Rawhide in Chandler.  Navajo PTO has been able to get a special rate on the attractions bracelet.  Navajo families and friends will pay $10 instead of $15 for the bracelet that opens up a world of all day Western fun. Included are: a rock climbing wall, gold panning, a petting zoo, a stage coach ride, a train ride, several reenactment shows, donkey rides and even mechanical bull riding! Some of these events have a minimum height requirement so please check the website Rawhide.com.  Rawhide is open from noon to 10 pm, you may come at any time and there are several choices to purchase food at reasonable prices.</p>
                
            <td style="width:263px; padding-top:10px; padding-right:30px;" valign="top">
            	<div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Upcoming Events</h1>
                    <p style="font-size:12px; line-height:16px;">                            
                        3/1 &amp; 3/2 &ndash; Field Day<br />
                        3/5 &ndash; 3/9 &ndash; Spring Recess<br />
                        3/14 &ndash; Spring Pictures<br />
                        3/20 &ndash; Skateland Party<br />
                        3/21 &ndash; PTO Executive Meeting, 3:30
                    </p>
                </div>
            </td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td><img src="http://www.markitmedia.net/eblast/templates/navajopto/footer.gif" width="632" height="33" border="0" alt="Buffalo Blast" /></td>
  </tr>
  <tr>
  	<td><p align="center"><a href="http://www.markitmedia.net/"><img src="http://www.markitmedia.net/Images/powered-by.png" border="0" /></a></p><br /></td>
  </tr>
  <tr>
  	<td><p style="font-size:12px; line-height:16px;" align="center">If you wish to not receive emails from Buffalo Blast, <a href="http://www.markitmedia.net/eblast/unsubscribe.php?email=%EMAIL%">click here to unsubscribe</a></p></td>
  </tr>
</table>
</body>
</html>