<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Buffalo Blast</title>
   <style type="text/css" media="screen">
   body {
	   margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;
   }
	.mainBody {
		background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif);
		background-repeat:repeat-y;
	}
	
	.tdLeft {
		width:260px;
		margin-right:15px;
		padding-left:32px;
		padding-right:32px;
		padding-top:10px;
		padding-bottom:20px;
	}
	
	.mainTable h1, .headerText {
		font-size:18px;
	}
	
	.mainTable p, .mainText {
		font-size:12px;
		line-height:16px;
	}
	
	.tdRight {
		width:263px;
		padding-top:10px;
		padding-right:30px;
	}
	
	.box {
		width:243px;
		padding:10px;
		background-color:#e1e1e1;
		margin-bottom:15px;
		float:left;
	}
	
   </style>
</head>
<body style="margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;">

<table width="632" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
    <p style="font-size:12px; line-height:16px;" align="center">If you are having trouble viewing this message click <a href="http://markitmedia.net/eblast/templates/navajopto/eblast-12-06-2010.html">here</a></p>
    <img src="http://www.markitmedia.net/eblast/templates/navajopto/header.png" width="632" height="409" border="0" alt="Navajo PTO"></td>
  </tr>
  <tr>
    <td style="background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif); background-repeat:repeat-y;" background="http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif">
    	<table width="632" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td style="width:260px; margin-right:15px; padding-left:32px; padding-right:32px; padding-top:10px; padding-bottom:20px;" valign="top" cellpadding="0" cellspacing="0">
            	<h1 style="font-size:18px;">Annual Change Drive/Adopt-a-Family</h1>
                <p style="font-size:12px; line-height:16px;">Each class is collecting change in support of 3 Navajo families. The class that collects the most change will win a class party. All the money collected will be used to purchase items such as clothing and toys for these families.  There is also a tree in the front office with specific items needed written on an ornament.  Please contact any PTO member with any questions.</p>
                <h1 style="font-size:18px;">Harkins 2011 Cups and Passes</h1>
                <p style="font-size:12px; line-height:16px;">How about some easy holiday gifts! We will be selling Harkins Movie Cups for $4 and gift cards are $10. We will continue to sell until supplies run out. Send in the form or stop by the front office.</p>
                <h1 style="font-size:18px;">Help Navajo with a Tax Credit Donation</h1>
                <p style="font-size:12px; line-height:16px;">Did you know that Arizona law allows taxpayers to receive a tax credit of up to $200 for individual filers and up to $400 for married filers for donations made to SUSD schools? You can claim the tax credit when filing your 2010 Arizona State Income Tax return. The school must receive the funds by December 31, 2010. It's a win, win situation for you and the school!</p>
                <h1 style="font-size:18px;">Navajo Celebrates 50 Years!</h1>
                <p style="font-size:12px; line-height:16px;">On December 14th, the PTO has planned a day of fun activities to commemorate our 50th anniversary.  Navajo Joe will visiting. We will be grilling up hamburgers at lunch and to kick off the BMX Bike show there will be a time capsule dedication ceremony. Come join us for this special day!</p>	
            <td style="width:263px; padding-top:10px; padding-right:30px;" valign="top">
            	<div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Upcoming Events</h1>
                    <p style="font-size:12px; line-height:16px;">                            
                        12/14 &ndash; 50th Anniversary Celebration<br />
                        12/15 &ndash; Change Drive Ends<br />
                        12/18 &ndash; 1/2 – Winter Vacation<br />
                        01/07 &ndash; Coffee with Shaun

                    </p>
                </div>             
            </td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td><img src="http://www.markitmedia.net/eblast/templates/navajopto/footer.gif" width="632" height="33" border="0" alt="Buffalo Blast" /></td>
  </tr>
  <tr>
  	<td><p align="center"><a href="http://www.markitmedia.net/"><img src="http://www.markitmedia.net/Images/powered-by.png" border="0" /></a></p><br /></td>
  </tr>
  <tr>
  	<td><p style="font-size:12px; line-height:16px;" align="center">If you wish to not receive emails from Buffalo Blast, <a href="http://www.markitmedia.net/eblast/unsubscribe.php?email=%EMAIL%">click here to unsubscribe</a></p></td>
  </tr>
</table>
</body>
</html>