<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Buffalo Blast</title>
   <style type="text/css" media="screen">
   body {
	   margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;
   }
	.mainBody {
		background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif);
		background-repeat:repeat-y;
	}
	
	.tdLeft {
		width:260px;
		margin-right:15px;
		padding-left:32px;
		padding-right:32px;
		padding-top:10px;
		padding-bottom:20px;
	}
	
	.mainTable h1, .headerText {
		font-size:18px;
	}
	
	.mainTable p, .mainText {
		font-size:12px;
		line-height:16px;
	}
	
	.tdRight {
		width:263px;
		padding-top:10px;
		padding-right:30px;
	}
	
	.box {
		width:243px;
		padding:10px;
		background-color:#e1e1e1;
		margin-bottom:15px;
		float:left;
	}
	
   </style>
</head>
<body style="margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;">

<table width="632" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
    <p style="font-size:12px; line-height:16px;" align="center">If you are having trouble viewing this message click <a href="http://markitmedia.net/eblast/templates/navajopto/eblast-11-11-2011.html">here</a></p>
    <img src="http://www.markitmedia.net/eblast/templates/navajopto/header.gif" width="632" height="409" border="0" alt="Navajo PTO"></td>
  </tr>
  <tr>
    <td style="background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif); background-repeat:repeat-y;" background="http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif">
    	<table width="632" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td style="width:260px; margin-right:15px; padding-left:32px; padding-right:32px; padding-top:10px; padding-bottom:20px;" valign="top" cellpadding="0" cellspacing="0">
            	<h1 style="font-size:18px;">Volunteers and/or Wheelbarrows Needed</h1>
                <p style="font-size:12px; line-height:16px;">The Butterfly garden is undergoing a renovation! We've added new plants, stepping stones and picnic tables. We are expecting a delivery of rock at 4 pm on Friday, Nov. 18th and would like help putting it in.  If you have a wheelbarrow please bring it with you. If you have a wheelbarrow but can't help that day please drop it off anytime next week. Contact Sara Johnson for more information at 480-217-3707.</p>
                <h1 style="font-size:18px;">Math Night</h1>
                <img src="http://www.markitmedia.net/eblast/templates/navajopto/IMG_2130.jpg" align="right" />
                <p style="font-size:12px; line-height:16px;">Several hundred people attended Navajo's annual Math Night.  Participants filled their "Math Night Passport" with stamps by going to each activity station. Students measured ingredients to make GORP and playdough, played chess and Blokus, tried their hand at Sudoku, played card games and dominos. It was a fun night for all.</p>
                <h1 style="font-size:18px;">Are you concerned about the state of Education in AZ?</h1>
                <p style="font-size:12px; line-height:16px;">The Scottsdale Education Association is holding a Discussion Forum at Coronado High School on November 17th from 4:00 to 5:30 in the Auditorium. SEA President Andrew Morrill will speak and then address questions from parents, teachers and administrators.</p>
                <h1 style="font-size:18px;">It's a Girl!</h1>
                <img src="http://www.markitmedia.net/eblast/templates/navajopto/tortoise.jpg" />
                <p style="font-size:12px; line-height:16px;">Navajo's tortoise has arrived. Students voted and chose Tortilla as her name. She has moved into her habitat, tested out the dens, nibbled on her favorite flowers and has gone into hibernation.</p>
                <h1 style="font-size:18px;">Skateland Pajama Jam Skate Party</h1>
                <p style="font-size:12px; line-height:16px;">Join other Navajo families at Skateland Tuesday, November 15th from 5:30 to 8 pm.  Admission is $2 and skate rental is $3. There will be a wackiest PJ contest and a wackiest hair contest!</p>
                <h1 style="font-size:18px;">Come have Thanksgiving Lunch with your child(ren)</h1>
                <p style="font-size:12px; line-height:16px;">On Thursday, November 17th is the annual Thanksgiving Lunch.  Traditional Thanksgiving lunch will be served in the cafeteria. The cost is $4 for parents, $3.25 for siblings and $2.25 for students. CASH ONLY! Please look out for flyers with special lunchtimes.</p>
            <td style="width:263px; padding-top:10px; padding-right:30px;" valign="top">
            	<div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Dates to Remember</h1>
                    <p style="font-size:12px; line-height:16px;">                            
                        11/15 &ndash; Skateland, 5:30–8pm<br />
                        11/16 &ndash; PTO Meeting 3:30<br />
                        11/17 &ndash; Thanksgiving Lunch<br />
                        11/24&25 &ndash; Thanksgiving Recess
                    </p>
                </div>
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">We need volunteers to help serve Thanksgiving lunch. If you have a food handler's card please call Katy Foster at 480-675-8238. </h1>
                    <p style="font-size:12px; line-height:16px;">                            
                    </p> 
                </div>
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Recycle Your Trash</h1>
                    <p style="font-size:12px; line-height:16px;">
                    Please save your paper towel and wrapping paper tubes for Science Night. Bring them to the science lab.                            
                    </p> 
                </div>
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Used Book Sale</h1>
                    <p style="font-size:12px; line-height:16px;"> 
                    Please keep sending books in for our used book sale which will take place in May.                           
                    </p> 
                </div>
            </td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td><img src="http://www.markitmedia.net/eblast/templates/navajopto/footer.gif" width="632" height="33" border="0" alt="Buffalo Blast" /></td>
  </tr>
  <tr>
  	<td><p align="center"><a href="http://www.markitmedia.net/"><img src="http://www.markitmedia.net/Images/powered-by.png" border="0" /></a></p><br /></td>
  </tr>
  <tr>
  	<td><p style="font-size:12px; line-height:16px;" align="center">If you wish to not receive emails from Buffalo Blast, <a href="http://www.markitmedia.net/eblast/unsubscribe.php?email=%EMAIL%">click here to unsubscribe</a></p></td>
  </tr>
</table>
</body>
</html>