<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Buffalo Blast</title>
   <style type="text/css" media="screen">
   body {
	   margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;
   }
	.mainBody {
		background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif);
		background-repeat:repeat-y;
	}
	
	.tdLeft {
		width:260px;
		margin-right:15px;
		padding-left:32px;
		padding-right:32px;
		padding-top:10px;
		padding-bottom:20px;
	}
	
	.mainTable h1, .headerText {
		font-size:18px;
	}
	
	.mainTable p, .mainText {
		font-size:12px;
		line-height:16px;
	}
	
	.tdRight {
		width:263px;
		padding-top:10px;
		padding-right:30px;
	}
	
	.box {
		width:243px;
		padding:10px;
		background-color:#e1e1e1;
		margin-bottom:15px;
		float:left;
	}
	
   </style>
</head>
<body style="margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;">

<table width="632" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
    <img src="http://www.markitmedia.net/eblast/templates/navajopto/header.gif" width="632" height="409" border="0" alt="Navajo PTO"></td>
  </tr>
  <tr>
    <td style="background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif); background-repeat:repeat-y;" background="http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif">
    	<table width="632" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td style="width:260px; margin-right:15px; padding-left:32px; padding-right:32px; padding-top:10px; padding-bottom:20px;" valign="top" cellpadding="0" cellspacing="0">
            	<h1 style="font-size:18px;">Navajo's 50th Anniversary Celebrations</h1>
                <p style="font-size:12px; line-height:16px;">Two dates have been set to commemorate our 50th Anniversary. December 14th will be a fun-filled day of special events for our current students to recognize our anniversary.  On Saturday, February 12th we will hold an evening of events for Navajo alumni as well as current families.  On that day there will be tours around the campus, a dance, and our annual Silent Auction! More details to follow.</p>
                <h1 style="font-size:18px;">Restaurant Night – Monday Nov. 8th 5-8 pm</h1>
                <p style="font-size:12px; line-height:16px;">Come have a fun and delicious dinner at Sweet Tomatoes and help raise money for Navajo.  Remember to bring the flyer with you.  Kids love to see their friends and teachers outside of school!</p>
                <h1 style="font-size:18px;">Annual Thanksgiving Lunch</h1>
                <p style="font-size:12px; line-height:16px;">On Thursday, November 18, Navajo will be having its annual Thanksgiving luncheon feast.   In order for you to enjoy lunch with your child, the cafeteria staff would like to ask parents for assistance on this fun day we ask for help for whatever amount of time would work for you, whether ½ hour, an hour or more.  Help would be needed from approximately 11:00am to 1:30pm. Some duties requiring help would be dish washing, directing serving lines, handing out cookies.</p>
                <p style="font-size:12px; line-height:16px;">Please contact the cafeteria at 480-484-2608 if you would like to help.  Or you can email at sbyers@susd.org.</p>
                <h1 style="font-size:18px;">We Need Compost for Our Gardens!</h1>
                <p style="font-size:12px; line-height:16px;">As mentioned in the last Buffalo Blast our vegetable beds have been planted. It would be wonderful if we could add some home-made compost to them as well! Last year we had two composters donated to the school and we need to fill them up, but first we must teach the students what lunch leftovers can be put in the composter!  Come have lunch with your child and then help the kids learn what can go into the compost bucket (mostly fruits and veggies in this case).  If you'd like to help out one da the week of Nov 8th please call Katy at 480-675-8238.</p>
                <h1 style="font-size:18px;">WAY TO GO!</h1>
                <p style="font-size:12px; line-height:16px;">The Robobuffs, Navajo's Robotics team, participated in the Juvenile Diabetes Walk for the Cure  on Saturday, Oct. 30th.  Dr. Loots, both the team mentors and several of the students' family members also walked for a total of 26 walkers! The team walked the full 5 k (3.2 miles) and raised approximately $500.</p>
            <td style="width:263px; padding-top:10px; padding-right:30px;" valign="top">
            	<div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Upcoming Events</h1>
                    <p style="font-size:12px; line-height:16px;">    
                        11/08 &ndash; Rest. Night, Sweet Tomatoes<br />
                        11/10 &ndash; Picture Retakes<br />
                        11/10 &ndash; Skateland<br />
                        11/11 &ndash; NO SCHOOL &ndash; Veteran's Day<br />
                        11/18 &ndash; PTO Meeting

                    </p>
                </div>
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">PHOTOS NEEDED</h1>
                    <p style="font-size:12px; line-height:16px;">    
                    	If you have great pictures from Navajo events please share them with us for the yearbook.  Please put them on a disc and turn into the front office. 
                    </p>
                </div>
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">NAVAJO PTO has purchased the following with your support:</h1>
                    <p style="font-size:12px; line-height:16px;">    
                    	- Music Books for Mrs. Fahy<br /><br />
                        - LEGO Simple Machine kits for Kinder and 1st grade Technology classes<br /><br />
                        - 3rd &ndash; 6th grade Science Resource   magazines for Mrs. Campbell<br /><br />
                        - Competition registration fee for the  Robobuffs<br /><br />
                        - Supplies and plants for new garden beds (located along Camelback
                    </p>
                </div>
                
            </td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td><img src="http://www.markitmedia.net/eblast/templates/navajopto/footer.gif" width="632" height="33" border="0" alt="Buffalo Blast" /></td>
  </tr>
  <tr>
  	<td><p align="center"><a href="http://www.markitmedia.net/"><img src="http://www.markitmedia.net/Images/powered-by.png" border="0" /></a></p><br /></td>
  </tr>
  <tr>
  	<td><p style="font-size:12px; line-height:16px;" align="center">If you wish to not receive emails from Buffalo Blast, <a href="http://www.markitmedia.net/eblast/unsubscribe.php?email=%EMAIL%">click here to unsubscribe</a></p></td>
  </tr>
</table>
</body>
</html>