<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Buffalo Blast</title>
   <style type="text/css" media="screen">
   body {
	   margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;
   }
	.mainBody {
		background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif);
		background-repeat:repeat-y;
	}
	
	.tdLeft {
		width:260px;
		margin-right:15px;
		padding-left:32px;
		padding-right:32px;
		padding-top:10px;
		padding-bottom:20px;
	}
	
	.mainTable h1, .headerText {
		font-size:18px;
	}
	
	.mainTable p, .mainText {
		font-size:12px;
		line-height:16px;
	}
	
	.tdRight {
		width:263px;
		padding-top:10px;
		padding-right:30px;
	}
	
	.box {
		width:243px;
		padding:10px;
		background-color:#e1e1e1;
		margin-bottom:15px;
		float:left;
	}
	
   </style>
</head>
<body style="margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;">

<table width="632" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
    <p style="font-size:12px; line-height:16px;" align="center">If you are having trouble viewing this message click <a href="http://markitmedia.net/eblast/templates/navajopto/eblast-02-12-2012.html">here</a></p>
    <img src="http://www.markitmedia.net/eblast/templates/navajopto/header.gif" width="632" height="409" border="0" alt="Navajo PTO"></td>
  </tr>
  <tr>
    <td style="background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif); background-repeat:repeat-y;" background="http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif">
    	<table width="632" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td style="width:260px; margin-right:15px; padding-left:32px; padding-right:32px; padding-top:10px; padding-bottom:20px;" valign="top" cellpadding="0" cellspacing="0">
            	<h1 style="font-size:18px;">Navajo's Annual SPACE AND SCIENCE NIGHT</h1>
                <p style="font-size:12px; line-height:16px;">Join us on Thursday, Feb. 16th from 6 – 8 pm for lots of fun activities, including: Observe snails, crayfish, worms, insects & isopods; make a tornado in a bottle, learn about food you eat; bubble experiments; bring an empty soda bottle to make a water rocket; make a parachute; burning while line Dancing; demonstrations of robotics, nano and biotechnology; forensic Investigations; experiment with magnets and electrical circuits; make a lever and pulley; see student Inventions and science Olympiad Projects. Special guests will include Liberty Wildlife, ASU Scientists, SNAP-Ed Nutrition, Embry Riddle, & ASU Rocket Club.</p>
                <h1 style="font-size:18px;">Coffee with Shaun</h1>  
                <p style="font-size:12px; line-height:16px;">Questions about what's going on at Navajo or in the district? Come join PTO and Mr. Holmes on Friday, February 17th at 9am in the Staff Lounge for coffee and a snack.</p>
                <h1 style="font-size:18px;">Jump Rope for Heart</h1>
                <p style="font-size:12px; line-height:16px;">Mr. B has some special plans for Jump Rope for Heart this year. The event will be on Tuesday Feb. 14th and will take place during each grade's specials time. At this year's event students are doing a special presentation of "We Create Games" where groups will present their created games with jump ropes.  Students will work in groups during their PE class and make a presentation to their grade level at Jump Rope for Heart.   Mr. B needs volunteers to help the event go smoothly, if you are able to help out that day please email Katy Foster at jfoster19@cox.net You only need to commit to the 45 minute time block that your child's class will be participating.</p>
                <h1 style="font-size:18px;">PTO General Meeting</h1>
                <p style="font-size:12px; line-height:16px;">Join the Navajo PTO Board on Thursday evening on February 23rd at 6 pm in the Staff Lounge. This is a great opportunity for working parents or anyone who isn't able to attend the 3:30 executive meetings, to come find out more about events and programs that are supported by the PTO.  We are also beginning the search for parents interested in joining the board or chairing a committee for the next school year.</p>
                
            <td style="width:263px; padding-top:10px; padding-right:30px;" valign="top">
            	<div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Upcoming Events</h1>
                    <p style="font-size:12px; line-height:16px;">                            
                        2/14 &ndash; Jump Rope for Heart<br />
                        2/15 &ndash; PTO Executive Meeting, 3:30 pm<br />
                        2/16 &ndash; Kindergarten Round Up, 5:30<br />
                                     Space and Science Night, 6–8 pm<br />
                        2/17 &ndash; Coffee with Shaun<br />
                        2/20 &ndash; Presidents' Day, NO SCHOOL<br />
                        2/23 &ndash; PTO General Meeting, 6 pm
                    </p>
                </div>
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                	<h1 style="font-size:18px;">THANK YOU HARPER'S NURSERY</h1>
                    <p style="font-size:12px; line-height:16px;">
                    	You are invited to attend the next Nutrition Services Parent Committee Meeting, Thursday, February 9th, 3:30 – 5:00 pm at the Mohave District Annex, Meeting Room B. Please join us to share ideas, get your questions answered and concerns voiced regarding your student's school meal program.
                    </p>
                </div>
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <p style="font-size:12px; line-height:16px;"> 
                    Didn't have time to check out the Bookfair? This year you can shop online through 2/17 at www.bookfairs.scholastic.com/homepage/navajobuffalo                           
                    </p> 
                </div>
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <p style="font-size:12px; line-height:16px;"> 
                    Fit City Scottsdale Health Expo on Saturday Feb. 18th from 8 am to 1 pm at SCC. See attached flyer for more info.                           
                    </p> 
                </div>
                
            
            </td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td><img src="http://www.markitmedia.net/eblast/templates/navajopto/footer.gif" width="632" height="33" border="0" alt="Buffalo Blast" /></td>
  </tr>
  <tr>
  	<td><p align="center"><a href="http://www.markitmedia.net/"><img src="http://www.markitmedia.net/Images/powered-by.png" border="0" /></a></p><br /></td>
  </tr>
  <tr>
  	<td><p style="font-size:12px; line-height:16px;" align="center">If you wish to not receive emails from Buffalo Blast, <a href="http://www.markitmedia.net/eblast/unsubscribe.php?email=%EMAIL%">click here to unsubscribe</a></p></td>
  </tr>
</table>
</body>
</html>