<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Buffalo Blast</title>
   <style type="text/css" media="screen">
   body {
	   margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;
   }
	.mainBody {
		background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif);
		background-repeat:repeat-y;
	}
	
	.tdLeft {
		width:260px;
		margin-right:15px;
		padding-left:32px;
		padding-right:32px;
		padding-top:10px;
		padding-bottom:20px;
	}
	
	.mainTable h1, .headerText {
		font-size:18px;
	}
	
	.mainTable p, .mainText {
		font-size:12px;
		line-height:16px;
	}
	
	.tdRight {
		width:263px;
		padding-top:10px;
		padding-right:30px;
	}
	
	.box {
		width:243px;
		padding:10px;
		background-color:#e1e1e1;
		margin-bottom:15px;
		float:left;
	}
	
   </style>
</head>
<body style="margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;">

<table width="632" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
    <p style="font-size:12px; line-height:16px;" align="center">If you are having trouble viewing this message click <a href="http://markitmedia.net/eblast/templates/navajopto/eblast-12-08-2011.html">here</a></p>
    <img src="http://www.markitmedia.net/eblast/templates/navajopto/header.gif" width="632" height="409" border="0" alt="Navajo PTO"></td>
  </tr>
  <tr>
    <td style="background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif); background-repeat:repeat-y;" background="http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif">
    	<table width="632" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td style="width:260px; margin-right:15px; padding-left:32px; padding-right:32px; padding-top:10px; padding-bottom:20px;" valign="top" cellpadding="0" cellspacing="0">
            	<h1 style="font-size:18px;">Adopt-a-Family/Change Drive</h1>
                <p style="font-size:12px; line-height:16px;">December 12th is the final day for our annual drive. Please be sure any donations are sent in by Monday. The top fundraising class will win a party. The holiday tree is in the office – there are still a few items on it.  Select an "ornament" with specific requested items, including clothing sizes. Please bring back any items unwrapped and with the ornament attached. </p>
                <h1 style="font-size:18px;">Navajo McTeacher Night</h1>
                <img src="http://www.markitmedia.net/eblast/templates/navajopto/mcTeacher.jpg" />
                <p style="font-size:12px; line-height:16px;">Thank you, thank you, thank you to Mr. Holmes and all the teachers and teacher candidates that volunteered their time Tuesday night to help serve at McDonalds. Also a big thank you to all the families that stopped by to participate – we had several hundred people show up! This event helped raise over $600 – wow!</p>
                <h1 style="font-size:18px;">RoboBuffs Compete in Regional FLL</h1>
                <p style="font-size:12px; line-height:16px;">Navajo RoboBuffs, for the third time, went to the Regional First Lego League competition Saturday at Supai Middle School. This year's challenge was even more difficult than last year's. The team "invented" a small scanner meant to use infrared light to constantly scan a kitchen in a restaurant or small shop. They also wrote a song and sang to the tune of Eye of the Tiger, explaining the research they did together. Our RoboBuffs walked away with the award for Teamwork within the area of the FLL Core Values! Big thanks to Coach Cathy White for her leadership and stamina! BTW: Navajo's first robotics team, now 8th graders at Mohave, won overall Grand Champions and will go on to State!</p>
                <h1 style="font-size:18px;">PTO Recap of Fall 2011</h1>
                <p style="font-size:12px; line-height:16px;">With the funds raised with your support PTO has helped with the purchase and installation of the desert tortoise habitat, the renewal of the butterfly habitat, the funding of after-school clubs, the purchase of materials for Pinwheels for Peace as well as items for  the technology lab and supplies for Math Night, and of course another successful Fall Festival.</p>
            <td style="width:263px; padding-top:10px; padding-right:30px;" valign="top">
            	<div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Dates to Remember</h1>
                    <p style="font-size:12px; line-height:16px;">                            
                        12/12 &ndash; Change Drive Ends<br />
                        12/14 &ndash; Early release, 12:15<br />
                        12/15 &ndash; String Sounds Assembly<br />
                        12/16 &ndash; Teacher Breakfast, <br />
                        Sponsored by 3rd & 4th grades<br />
                        12/19 &ndash; 1/2 &ndash; WINTER RECESS
                    </p>
                </div>
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Help Navajo with a Tax Credit Donation</h1>
                    <p style="font-size:12px; line-height:16px;">  
                    	Did you know that Arizona law allows taxpayers to receive a tax credit of up to $200 for individual filers and up to $400 for married filers for donations made to SUSD schools? You can claim the tax credit when filing your 2011 Arizona State Income Tax return. The school must receive the funds by December 31, 2011. It's a win, win situation for you and the school! Consult your tax professional.                          
                    </p> 
                </div>
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Help Keep Our Kids Healthy over the Winter</h1>
                    <p style="font-size:12px; line-height:16px;">
                    	Please send in hand sanitizer and disinfectant wipes for our specials teachers to use.
                    </p>
                </div>
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Recycle Your Trash</h1>
                    <p style="font-size:12px; line-height:16px;"> 
                    Please save your paper towel and wrapping paper tubes for Science Night. Bring them to the science lab.                           
                    </p> 
                </div>
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Used Book Sale</h1>
                    <p style="font-size:12px; line-height:16px;"> 
                    Please keep sending books in for our used book sale which will take place in May.                           
                    </p> 
                </div>
            </td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td><img src="http://www.markitmedia.net/eblast/templates/navajopto/footer.gif" width="632" height="33" border="0" alt="Buffalo Blast" /></td>
  </tr>
  <tr>
  	<td><p align="center"><a href="http://www.markitmedia.net/"><img src="http://www.markitmedia.net/Images/powered-by.png" border="0" /></a></p><br /></td>
  </tr>
  <tr>
  	<td><p style="font-size:12px; line-height:16px;" align="center">If you wish to not receive emails from Buffalo Blast, <a href="http://www.markitmedia.net/eblast/unsubscribe.php?email=%EMAIL%">click here to unsubscribe</a></p></td>
  </tr>
</table>
</body>
</html>