<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Buffalo Blast</title>
   <style type="text/css" media="screen">
   body {
	   margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;
   }
	.mainBody {
		background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif);
		background-repeat:repeat-y;
	}
	
	.tdLeft {
		width:260px;
		margin-right:15px;
		padding-left:32px;
		padding-right:32px;
		padding-top:10px;
		padding-bottom:20px;
	}
	
	.mainTable h1, .headerText {
		font-size:18px;
	}
	
	.mainTable p, .mainText {
		font-size:12px;
		line-height:16px;
	}
	
	.tdRight {
		width:263px;
		padding-top:10px;
		padding-right:30px;
	}
	
	.box {
		width:243px;
		padding:10px;
		background-color:#e1e1e1;
		margin-bottom:15px;
		float:left;
	}
	
   </style>
</head>
<body style="margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;">

<table width="632" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
    <p style="font-size:12px; line-height:16px;" align="center">If you are having trouble viewing this message click <a href="http://markitmedia.net/eblast/templates/navajopto/eblast-05-09-2011.html">here</a></p>
    <img src="http://www.markitmedia.net/eblast/templates/navajopto/header.gif" width="632" height="409" border="0" alt="Navajo PTO"></td>
  </tr>
  <tr>
    <td style="background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif); background-repeat:repeat-y;" background="http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif">
    	<table width="632" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td style="width:260px; margin-right:15px; padding-left:32px; padding-right:32px; padding-top:10px; padding-bottom:20px;" valign="top" cellpadding="0" cellspacing="0">
            	<h1 style="font-size:18px;">Sixth Grade Visits Ancient Ruins</h1>
                <img src="http://www.markitmedia.net/eblast/templates/navajopto/IMG_6236.jpg" width="260" height="173" border="0" />
                <p style="font-size:12px; line-height:16px;">6th Graders went on their annual field trip up to Flagstaff to visit 2 Indian Ruins.  Students have been studying about the Early Native Americans, and this special trip was an experience that many will not soon forget.  First stop was the Wupatki Ruins, there were parial walls and you could see where they had an irrigation system for rain runoff.  There was also a blow hole in the earth that blew out cold air.  A ball court was an interesting area where the Indians used to play a game similar to field hockey, but the ball was a big rock.  On our way out we saw lava fields from the volcano that had erupted 900 years ago.</p>
                <p style="font-size:12px; line-height:16px;">The final stop was Montezuma's Castle where students stood in awe of the thousand year-old monument to human ingenuity and engineering in the cliffs overlooking the Little Colorado River.  The jam-packed day ended with a trip through McDonald's and a gorgeous Arizona sunset on the way home.</p>
                <h1 style="font-size:18px;">Used Book Sale</h1>
                <p style="font-size:12px; line-height:16px;">Help support the Navajo Gardens. There will be a used book sale all this week during the day in the cafeteria and Thursday night from 6 – 8pm.  There are both childrens' and adult books priced at 50 cents and $1. </p>
                <h1 style="font-size:18px;">Reading Night</h1>
                <p style="font-size:12px; line-height:16px;">Several hundred people attended Navajo's annual Reading Night.  They enjoyed a poetry slam, costume contest, and several reading and phonics-based activities.  Kids could write a comic strip, read a script as a KBUFF reporter, make a collage, put on a puppet show and dance with Mrs. Youngkin. Third grade put on a reader's theater. All participants received a free book, milk and cookies.</p>
            <td style="width:263px; padding-top:10px; padding-right:30px;" valign="top">
            	<div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Upcoming Events</h1>
                    <p style="font-size:12px; line-height:16px;">                            
                        5/9 &ndash; 5/13 Used Book Sale<br>
                        5/12 &ndash; Book Sale and General PTO Meeting, 6-8pm<br>
                        5/20 &ndash; Early Release, 12:15<br>
                        5/24 &ndash; Last Day of School, Early Release, 12:15
                    </p>
                </div>

                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                	<img src="http://www.markitmedia.net/eblast/templates/navajopto/IMG_0778_crop.jpg" width="260" height="253" border="0" />
                 </div>
            </td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td><img src="http://www.markitmedia.net/eblast/templates/navajopto/footer.gif" width="632" height="33" border="0" alt="Buffalo Blast" /></td>
  </tr>
  <tr>
  	<td><p align="center"><a href="http://www.markitmedia.net/"><img src="http://www.markitmedia.net/Images/powered-by.png" border="0" /></a></p><br /></td>
  </tr>
  <tr>
  	<td><p style="font-size:12px; line-height:16px;" align="center">If you wish to not receive emails from Buffalo Blast, <a href="http://www.markitmedia.net/eblast/unsubscribe.php?email=%EMAIL%">click here to unsubscribe</a></p></td>
  </tr>
</table>
</body>
</html>