<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Buffalo Blast</title>
   <style type="text/css" media="screen">
   body {
	   margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;
   }
	.mainBody {
		background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif);
		background-repeat:repeat-y;
	}
	
	.tdLeft {
		width:260px;
		margin-right:15px;
		padding-left:32px;
		padding-right:32px;
		padding-top:10px;
		padding-bottom:20px;
	}
	
	.mainTable h1, .headerText {
		font-size:18px;
	}
	
	.mainTable p, .mainText {
		font-size:12px;
		line-height:16px;
	}
	
	.tdRight {
		width:263px;
		padding-top:10px;
		padding-right:30px;
	}
	
	.box {
		width:243px;
		padding:10px;
		background-color:#e1e1e1;
		margin-bottom:15px;
		float:left;
	}
	
   </style>
</head>
<body style="margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;">
<table width="632" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="http://www.markitmedia.net/eblast/templates/navajopto/header.gif" width="632" height="409" border="0" alt="Navajo PTO"></td>
  </tr>
  <tr>
    <td style="background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif); background-repeat:repeat-y;" background="http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif">
    	<table width="632" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td style="width:260px; margin-right:15px; padding-left:32px; padding-right:32px; padding-top:10px; padding-bottom:20px;" valign="top" cellpadding="0" cellspacing="0">
            	<h1 style="font-size:18px;">Fresh and Easy Shopping Night</h1>
                <p style="font-size:12px; line-height:16px;">Fresh and Easy has begun a Shop for Schools Program. They are sponsoring a Shopping Night for Navajo this Thursday, October 28th from 4 to 8 pm.  We will get 5% of the sales generated during that time. Please come out and do your shopping at the Thomas and Hayden store and help support Navajo! This is in addition to the $1 we get for every receipt with a minimum of $20!  Please put your receipts in the box in the front office or send in with your child.</p>
                <h1 style="font-size:18px;">Great American Fundraiser Delivery</h1>
                <p style="font-size:12px; line-height:16px;">Orders will be delivered on October 28th.  They will be sent home with your child. If you ordered more than 1 or 2 tubs of cookie dough, please stop by the office to pick up your order on Thursday.</p>
                <h1 style="font-size:18px;">Greening Up Navajo!</h1>
                <p style="font-size:12px; line-height:16px;">Cisco donated some beautiful shrubs and trees to Navajo.  Parents. kids and Cisco employees helped plant the first delivery during fall break.  These low water plants will really help beautify Navajo. Thank you Cisco for the lasting donation. </p>
                <p style="font-size:12px; line-height:16px;">We have also had a wonderful donation from Braden's Garden. Our site, Braden's Garden II, includes 8 raised garden beds. Students have built the beds and filled them with garden soil. We hope to add compost soon and begin planting.  </p>
                <p style="font-size:12px; line-height:16px;">Our traditional vegetable garden has become a pumpkin patch! Last year's departing 6th graders planted a pumpkin patch for the new kindergarten kids. Pumpkins are ready for harvest just in time for the Kinder's fall harvest unit! PTO donated the materials for an automatic watering system, which the 6th graders help install last spring so the pumpkins would get water over the summer.</p>
				<p style="font-size:12px; line-height:16px;">The Butterfly Garden has had lots of butterflies visiting over the last few weeks. Kids have been helping weed the space and we will be replacing plants this month. </p>
                <h1 style="font-size:18px;">Scholastic Bookfair</h1>
                <p style="font-size:12px; line-height:16px;">Our Fall Bookfair is just around the corner!  We need volunteers to help out the week of November 1st.  You can come in with your child's class during library time or any time during the day. If you are able to help, contact Missy at 602-919-5251 or <a href="mailto:missylu68@yahoo.com">missylu68@yahoo.com</a> Books are not only a great holiday gift, but all your purchases help support our library. </p>
                <h1 style="font-size:18px;">Math and Technology Night is Nov. 4th!</h1>
                <p style="font-size:12px; line-height:16px;">Navajo Math and Technology Night this school year will focus on real life measuring with hands-on experiences for  students using measuring tapes, rulers, yardsticks, cups, spoons, scales, calculators, protractors, and thermometers.  Parents and students will also learn about school fusion, how to get student grades and assignments on-line (grades 4-6), district resources, e-books, and robotics demonstrations.</p>
            <td style="width:263px; padding-top:10px; padding-right:30px;" valign="top">
            	<div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Upcoming Events</h1>
                    <p style="font-size:12px; line-height:16px;">    
                    	10/25&ndash;29  Parent-Teacher  Conferences<br />
                        10/28 &ndash; Fresh & Easy Shop for Schools	4-8pm Thomas and Hayden<br />
                        11/1 &ndash; 11/5 &ndash; Scholastic BookFair<br />
                        11/3 &ndash; Early Release 12:15<br />
                        11/4 &ndash; Math & Technology Night 6 &ndash; 8pm<br />
                        11/2 &ndash; Election Day<br />
                        11/5 &ndash; Coffee with Shaun
                    </p>
                </div>
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Did You Know?</h1>
                    <p style="font-size:12px; line-height:16px;">    
                    	Navajo Reading Volunteer, Dr. Fred Christensen, recently won the prestigious Hon Kachina Award for his extraordinary work with our students.
                    </p>
                    <p style="font-size:12px; line-height:16px;">    
                    	When Navajo opened in 1960, it was the first Scottsdale school to have interior corridors, but had no cafeteria! Kids ate a picnic lunch every day.
                    </p>
                    
                </div>
                
            </td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td><img src="http://www.markitmedia.net/eblast/templates/navajopto/footer.gif" width="632" height="33" border="0" alt="Buffalo Blast" /></td>
  </tr>
  <tr>
  	<td><p style="font-size:12px; line-height:16px;" align="center">If you wish to not receive emails from Buffalo Blast, <a href="http://www.markitmedia.net/eblast/unsubscribe.php?email=%EMAIL%">click here to unsubscribe</a></p></td>
  </tr>
</table>
</body>
</html>