<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Buffalo Blast</title>
   <style type="text/css" media="screen">
   body {
	   margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;
   }
	.mainBody {
		background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif);
		background-repeat:repeat-y;
	}
	
	.tdLeft {
		width:260px;
		margin-right:15px;
		padding-left:32px;
		padding-right:32px;
		padding-top:10px;
		padding-bottom:20px;
	}
	
	.mainTable h1, .headerText {
		font-size:18px;
	}
	
	.mainTable p, .mainText {
		font-size:12px;
		line-height:16px;
	}
	
	.tdRight {
		width:263px;
		padding-top:10px;
		padding-right:30px;
	}
	
	.box {
		width:243px;
		padding:10px;
		background-color:#e1e1e1;
		margin-bottom:15px;
		float:left;
	}
	
   </style>
</head>
<body style="margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;">

<table width="632" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
    <p style="font-size:12px; line-height:16px;" align="center">If you are having trouble viewing this message click <a href="http://markitmedia.net/eblast/templates/navajopto/eblast-1-27-2012.html">here</a></p>
    <img src="http://www.markitmedia.net/eblast/templates/navajopto/header.gif" width="632" height="409" border="0" alt="Navajo PTO"></td>
  </tr>
  <tr>
    <td style="background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif); background-repeat:repeat-y;" background="http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif">
    	<table width="632" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td style="width:260px; margin-right:15px; padding-left:32px; padding-right:32px; padding-top:10px; padding-bottom:20px;" valign="top" cellpadding="0" cellspacing="0">
            	<h1 style="font-size:18px;">Restaurant Night at Dos Juevos</h1>
                <p style="font-size:12px; line-height:16px;">Join other Navajo families on Tuesday January 31st from 6 – 9 pm at Dos Juevos Cantina for Restaurant Night.  Enjoy Mexican food while helping Navajo raise money and you may even spot Mr. Holmes or another Navajo teacher! Dos Juevos is located in the old Julio G's on Indian School Rd.</p>
                <h1 style="font-size:18px;">Scholastic Bookfair</h1>  
                <p style="font-size:12px; line-height:16px;">Scholastic Bookfair will be arriving soon. The week of February 6th through Friday, February 10th the Bookfair will be in the Navajo Media Center. Bookfair will be open all day until 3:30.  We will also have the fair open at the Valentine's Social.  If you are able to help out for a few hours anytime during the week of the Bookfair please contact Anna Lawrence at 480-313-4687.</p>
                <h1 style="font-size:18px;">Jump Rope for Heart</h1>
                <p style="font-size:12px; line-height:16px;">Navajo's annual Jump Rope for Heart event will be on Tuesday, February 14th. Each grade level will participate during their normal specials time.  Students will be doing a special presentation of "We Create Games" where groups will present their created games with jump ropes.  Students will work in groups during their PE class and make a presentation to their grade level at Jump Rope for Heart. Look out for a flyer coming home with more information. We are also looking for 1 or 2 parent volunteers per grade level to help with this event, please email Katy Foster at jfoster19@cox.net.</p>
                <h1 style="font-size:18px;">Save the Date! Valentines Social 2/10</h1>
                <p style="font-size:12px; line-height:16px;">Our annual Valentine's Social will be in the cafeteria on Friday, February 10th from 6 – 8pm. Come enjoy the DJ, dancing and festivities.  More information will be sent home about this fun event.</p>
                <h1 style="font-size:18px;">Annual Survey</h1>
                <p style="font-size:12px; line-height:16px;">Scottsdale Unified School District parents are encouraged to provide input about our schools in the online Annual Parent Survey. The electronic survey will be available through February 10. Parents are invited to complete the survey once for each student enrolled. Access the survey from the District Web site or your child's school. Your responses will help us make SUSD even better!</p>
            <td style="width:263px; padding-top:10px; padding-right:30px;" valign="top">
            	<div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Upcoming Events</h1>
                    <p style="font-size:12px; line-height:16px;">                            
						1/31 &ndash; Restaurant Night at Dos Juevos Cantina<br />
                        2/6 &ndash; 2/10 &ndash; Scholastic Bookfair<br />
                        2/10 &ndash; Valentine's Social, 6 – 8 pm

                    </p>
                </div>
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <p style="font-size:12px; line-height:16px;">
                    	You are invited to attend the next Nutrition Services Parent Committee Meeting, Thursday, February 9th, 3:30 – 5:00 pm at the Mohave District Annex, Meeting Room B. Please join us to share ideas, get your questions answered and concerns voiced regarding your student's school meal program.
                    </p>
                </div>
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <p style="font-size:12px; line-height:16px;"> 
                    Look out for a special deal on Phoenix Suns tickets to the March 4th game.  Flyers will be coming home soon!                          
                    </p> 
                </div>
                
            
            </td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td><img src="http://www.markitmedia.net/eblast/templates/navajopto/footer.gif" width="632" height="33" border="0" alt="Buffalo Blast" /></td>
  </tr>
  <tr>
  	<td><p align="center"><a href="http://www.markitmedia.net/"><img src="http://www.markitmedia.net/Images/powered-by.png" border="0" /></a></p><br /></td>
  </tr>
  <tr>
  	<td><p style="font-size:12px; line-height:16px;" align="center">If you wish to not receive emails from Buffalo Blast, <a href="http://www.markitmedia.net/eblast/unsubscribe.php?email=%EMAIL%">click here to unsubscribe</a></p></td>
  </tr>
</table>
</body>
</html>