<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Buffalo Blast</title>
   <style type="text/css" media="screen">
   body {
	   margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;
   }
	.mainBody {
		background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif);
		background-repeat:repeat-y;
	}
	
	.tdLeft {
		width:260px;
		margin-right:15px;
		padding-left:32px;
		padding-right:32px;
		padding-top:10px;
		padding-bottom:20px;
	}
	
	.mainTable h1, .headerText {
		font-size:18px;
	}
	
	.mainTable p, .mainText {
		font-size:12px;
		line-height:16px;
	}
	
	.tdRight {
		width:263px;
		padding-top:10px;
		padding-right:30px;
	}
	
	.box {
		width:243px;
		padding:10px;
		background-color:#e1e1e1;
		margin-bottom:15px;
		float:left;
	}
	
   </style>
</head>
<body style="margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;">

<table width="632" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
    <p style="font-size:12px; line-height:16px;" align="center">If you are having trouble viewing this message click <a href="http://markitmedia.net/eblast/templates/navajopto/eblast-01-10-2011.html">here</a></p>
    <img src="http://www.markitmedia.net/eblast/templates/navajopto/header.gif" width="632" height="409" border="0" alt="Navajo PTO"></td>
  </tr>
  <tr>
    <td style="background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif); background-repeat:repeat-y;" background="http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif">
    	<table width="632" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td style="width:260px; margin-right:15px; padding-left:32px; padding-right:32px; padding-top:10px; padding-bottom:20px;" valign="top" cellpadding="0" cellspacing="0">
            	<h1 style="font-size:18px;">Time Capsule Dedication</h1>
                <p style="font-size:12px; line-height:16px;">On December 15th, the entire student body gathered on the basketball courts to honor the school's 50th anniversary.  Each class put something they had selected into the time capsule and also made up a cheer.   Afterwards, the BMX bikers performed their stunts and even jumped over Mrs. Carroll; her class was the top fundraiser in the Great American Fundraiser.</p>
                <h1 style="font-size:18px;">Navajo Vegetable Gardens Update</h1>
                <img src="http://www.markitmedia.net/eblast/templates/navajopto/photo1.jpg" />
                <p style="font-size:12px; line-height:16px;">Over winter break, the first step in an automatic watering system was installed, so that the 9 vegetable beds could be set on a consistent schedule.  As you pick up or drop off your child(ren) stop by the gardens on Camelback and check out the abundant kale, broccoli, spinach, bok choy and lettuce.  Mrs. Frailey's class has been preparing delicious salads from the gardens as part of their science unit "Structures of Life."</p>
                <h1 style="font-size:18px;">Save the date!</h1>
                <p style="font-size:12px; line-height:16px;">You are invited to Navajo's 50th Anniversary Celebration on Saturday February 12th. More details to follow soon. If you have any questions or would like to help with the events, feel free to contact Marilyn Bergs at mbergs@susd.org.</p>
                <h1 style="font-size:18px;">East Scottsdale Little League</h1>
                <p style="font-size:12px; line-height:16px;">Flyers will be coming home with registration information for the coming season.  Registration will be at Chaparral Park snack bar.  For more information call 480-444-2132 or go to www.eteamz.com/eastscottsdale.</p>	
                <h1 style="font-size:18px;">White Elephant Gift Exchange</h1>
                <p style="font-size:12px; line-height:16px;">The next PTO General Meeting will be January 20th at 6pm in the Teacher's Lounge.  We will be hosting a White Elephant Gift Exchange and have some snacks.  If you wish to participate please bring an unwanted gift from around your house. It should be wrapped but have no tag. Unfamiliar with a White Elephant Exchange? It's just a fun way to "recycle" gifts! It can be a funny/silly item or it can simply be an item you no longer want or need.  Use your imagination!</p>
                <h1 style="font-size:18px;">Three Cheers for Mrs. Ahmad's Class!</h1>
                <p style="font-size:12px; line-height:16px;">Mrs. Ahmad's class held a coin drive that raised $25 at the urging of classmate Felina Hans.  Felina had written a heartfelt letter about the African  village of Bulembu and the many orphans there.  The money will be sent to Partners in Action and used towards the purchase a cow.</p>	
            <td style="width:263px; padding-top:10px; padding-right:30px;" valign="top">
            	<div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Upcoming Events</h1>
                    <p style="font-size:12px; line-height:16px;">                            
                        1/13 &ndash; PTO Board Meeting, 3:30pm<br />
                        1/17 &ndash; No SCHOOL, MLK Day<br />
                        1/20 &ndash; PTO General Meeting, 6pm<br />
                        1/26 &ndash; Early Release 12:15<br />
                        1/26 &ndash; Skateland (Navajo only)  2 – 5pm
                    </p>
                </div>    
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Thank You Navajo!</h1>
                    <p style="font-size:12px; line-height:16px;">                            
                        Thank you to everyone who participated in the Annual Coin Drive/Adopt-a-family. We raised $600 to help bring joy to three Navajo families over the holidays.
                    </p>
                </div>             
            </td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td><img src="http://www.markitmedia.net/eblast/templates/navajopto/footer.gif" width="632" height="33" border="0" alt="Buffalo Blast" /></td>
  </tr>
  <tr>
  	<td><p align="center"><a href="http://www.markitmedia.net/"><img src="http://www.markitmedia.net/Images/powered-by.png" border="0" /></a></p><br /></td>
  </tr>
  <tr>
  	<td><p style="font-size:12px; line-height:16px;" align="center">If you wish to not receive emails from Buffalo Blast, <a href="http://www.markitmedia.net/eblast/unsubscribe.php?email=%EMAIL%">click here to unsubscribe</a></p></td>
  </tr>
</table>
</body>
</html>