<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Buffalo Blast</title>
   <style type="text/css" media="screen">
   body {
	   margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;
   }
	.mainBody {
		background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif);
		background-repeat:repeat-y;
	}
	
	.tdLeft {
		width:260px;
		margin-right:15px;
		padding-left:32px;
		padding-right:32px;
		padding-top:10px;
		padding-bottom:20px;
	}
	
	.mainTable h1, .headerText {
		font-size:18px;
	}
	
	.mainTable p, .mainText {
		font-size:12px;
		line-height:16px;
	}
	
	.tdRight {
		width:263px;
		padding-top:10px;
		padding-right:30px;
	}
	
	.box {
		width:243px;
		padding:10px;
		background-color:#e1e1e1;
		margin-bottom:15px;
		float:left;
	}
	
   </style>
</head>
<body style="margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;">

<table width="632" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
    <p style="font-size:12px; line-height:16px;" align="center">If you are having trouble viewing this message click <a href="http://markitmedia.net/eblast/templates/navajopto/eblast-02-22-2011.html">here</a></p>
    <img src="http://www.markitmedia.net/eblast/templates/navajopto/header.gif" width="632" height="409" border="0" alt="Navajo PTO"></td>
  </tr>
  <tr>
    <td style="background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif); background-repeat:repeat-y;" background="http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif">
    	<table width="632" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td style="width:260px; margin-right:15px; padding-left:32px; padding-right:32px; padding-top:10px; padding-bottom:20px;" valign="top" cellpadding="0" cellspacing="0">
            	<h1 style="font-size:18px;">Science Night was a Blast!</h1>
                <p style="font-size:12px; line-height:16px;"><img src="IMG_0428.jpg" style="margin-right:10px;" width="150" height="200" border="0" align="left" />Several hundred people attended Navajo's Annual Space and Science Night.  Parents and students were able to view Jupiter, the moon and Orion's nebula on a beautiful clear night.  They made and launched bottle rockets and learned about the constellations in a portable Star Lab.  There were also live animals, including a great horned owl, red-tail hawk, snails and worms.  Attendees also had the opportunity to learn about sound and pitch, circuits, and magnetism. The Smart Board demonstration highlighted the innovative use of technology in the classroom.</p>
                <h1 style="font-size:18px;">50th Anniversary Celebration</h1>
                <img src="Karen.jpg" width="260" height="173" border="0" />
                <p style="font-size:12px; line-height:16px;">Over 400 people gathered at Navajo Saturday night to celebrate the school's 50th Anniversary.  Alumni and former staff enjoyed a school tour highlighting the recent additions to the campus and facilities. Navajo Strings and Saguaro Strings performed in the main hallway. Afterwards, attendees were treated to a free dinner, donated in part by Marcella's Italian Kitchen, music and dancing.  Alumni shared memories such as the current Computer Lab used to be Automotive Shop class and the Cafeteria used to be outside.  The very first school secretary attended the event and shared that when school opened there were no working phones.  The highlight for many alumni was the attendance of former principal Ed Fleming. The PTO would like to thank everyone who participated in the auction. The funds generated by your support are vital to PTO's extensive programs and activities.</p>
                <h1 style="font-size:18px;">Spring Training</h1>
                <p style="font-size:12px; line-height:16px;">The World Champion San Francisco Giants and the Scottsdale Charros are teaming up again this Spring to support Scottsdale Unified Schools. This year, when you make any purchase at Charro Lodge or Charro Pavilion or purchase a Reserved Seat at http://www.springtraining.com/ for a game (marked with a star on the flyer) at Scottsdale Stadium, your school will receive a donation of $5 when you enter your school's promotion code. For more information, please view the flyer (<a href="http://www.susd.org/district/newsletter/BaseballFlyer.pdf">click here</a>)  and the promo codes (<a href="http://www.susd.org/district/newsletter/Charropromocodes.pdf">click here</a>).</p>
            <td style="width:263px; padding-top:10px; padding-right:30px;" valign="top">
            	<div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Upcoming Events</h1>
                    <p style="font-size:12px; line-height:16px;">                            
                        2/25 &ndash;  Early release<br>
                        2/28 &ndash; 3/4 &ndash; Dr. Seuss Literacy Week<br />
                        3/4 &ndash; Coffee with Shaun
                    </p>
                </div>
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Are you a Gardener?</h1>
                    <p style="font-size:12px; line-height:16px;">
                    	We need volunteers. Please call Sara Johnson at 480-217-3707 if you are able to help with the next planting on March 11th and 12th.                            
                    </p>
                </div>   
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Used Book Drive</h1>
                    <p style="font-size:12px; line-height:16px;">
                    	We are beginning to collect used books for a used book sale.  If you have any books to donate drop off in a collection box in one of the hallways.                             
                    </p>
                </div>   
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                	<img src="Shaun_and_Ed.jpg" width="223" height="148" border="0" />
                    <p style="font-size:12px; line-height:16px;">
                    	Principal Holmes with Former Principal Ed Fleming                           
                    </p>
                </div>                   
            </td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td><img src="http://www.markitmedia.net/eblast/templates/navajopto/footer.gif" width="632" height="33" border="0" alt="Buffalo Blast" /></td>
  </tr>
  <tr>
  	<td><p align="center"><a href="http://www.markitmedia.net/"><img src="http://www.markitmedia.net/Images/powered-by.png" border="0" /></a></p><br /></td>
  </tr>
  <tr>
  	<td><p style="font-size:12px; line-height:16px;" align="center">If you wish to not receive emails from Buffalo Blast, <a href="http://www.markitmedia.net/eblast/unsubscribe.php?email=%EMAIL%">click here to unsubscribe</a></p></td>
  </tr>
</table>
</body>
</html>