<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Buffalo Blast</title>
   <style type="text/css" media="screen">
   body {
	   margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;
   }
	.mainBody {
		background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif);
		background-repeat:repeat-y;
	}
	
	.tdLeft {
		width:260px;
		margin-right:15px;
		padding-left:32px;
		padding-right:32px;
		padding-top:10px;
		padding-bottom:20px;
	}
	
	.mainTable h1, .headerText {
		font-size:18px;
	}
	
	.mainTable p, .mainText {
		font-size:12px;
		line-height:16px;
	}
	
	.tdRight {
		width:263px;
		padding-top:10px;
		padding-right:30px;
	}
	
	.box {
		width:243px;
		padding:10px;
		background-color:#e1e1e1;
		margin-bottom:15px;
		float:left;
	}
	
   </style>
</head>
<body style="margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;">

<table width="632" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
    <p style="font-size:12px; line-height:16px;" align="center">If you are having trouble viewing this message click <a href="http://markitmedia.net/eblast/templates/navajopto/eblast-09-23-2011.html">here</a></p>
    <img src="http://www.markitmedia.net/eblast/templates/navajopto/header.gif" width="632" height="409" border="0" alt="Navajo PTO"></td>
  </tr>
  <tr>
    <td style="background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif); background-repeat:repeat-y;" background="http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif">
    	<table width="632" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td style="width:260px; margin-right:15px; padding-left:32px; padding-right:32px; padding-top:10px; padding-bottom:20px;" valign="top" cellpadding="0" cellspacing="0">
            	<h1 style="font-size:18px;">Do You Shop at Fresh and Easy?</h1>
                <p style="font-size:12px; line-height:16px;">Navajo gets $1 for every receipt with a minimum of $20!  If your receipt is $40 we get $2 and so on … Please put your receipts in the marked box in the front office or send in with your child.  The receipts must be dated between 9/15 and 12/31.</p>
                <h1 style="font-size:18px;">Scottsdale's Adopt a Family Program</h1>
                <p style="font-size:12px; line-height:16px;">Clients can register for this holiday program at either Paiute or Vista del Camino in person or by calling Paiute at 480-312-2529 or Vista del Camino at 480-312-2323. There is a limited number or applicants.</p>
                <h1 style="font-size:18px;">The Desert Tortoise Habitat is Underway</h1>
                <p style="font-size:12px; line-height:16px;">Mr. Loucks, some of his students, Mrs. Campbell and some parent volunteers have begun construction of the desert tortoise habitat!  Half of the butterfly garden has been designated as the home for our desert tortoise which will be arriving in early October. The enclosure will include a retaining wall, a winter den, a summer den, and some native plants for the tortoise to munch on. </p>
                <h1 style="font-size:18px;">Fall Festival and Craft Fair, Sat Oct. 22nd</h1>
                <p style="font-size:12px; line-height:16px;">This is our third year to include a craft fair with our Fall Festival. If you are interested in selling a craft or product, or offering a service you can rent a table for $20 or we will waive the fee if you donate an item valued at $20 or more for our auction/raffle. Please contact Dennis Enriquez at 602-570-1262. </p>
                <h1 style="font-size:18px;">Students Plant the Vegetable Gardens</h1>
                <p style="font-size:12px; line-height:16px;">Sprouts have already begun popping up in our vegetable gardens. Students have been planting seeds and seedlings and we look forward to a fall harvest including corn, tomatoes, squash, carrots and broccoli.</p>
            <td style="width:263px; padding-top:10px; padding-right:30px;" valign="top">
            	<div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Dates to Remember</h1>
                    <p style="font-size:12px; line-height:16px;">                            
                        9/27 &ndash; Vision and Hearing Screening<br />
                        10/7 &ndash; Teacher Breakfast sponsored by 5th and 6th grade families<br />
                        10/10 &ndash; 10/14 FALL BREAK

                    </p>
                </div>
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">We Need Your Trash!</h1>
                    <p style="font-size:12px; line-height:16px;">                            
                        Do you have shoeboxes? 35mm film canisters? Or scraps of yarn? Please bring them in to the TAPs room. 
                    </p> 
                </div>
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Thank you and Congratulations!</h1>
                    <p style="font-size:12px; line-height:16px;">                            
                        Thank you to all the families that participated in the catalog fundraiser.  Congratulations to Mrs. Carroll's class which helped us raise the most money!
                    </p>
                </div>
            </td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td><img src="http://www.markitmedia.net/eblast/templates/navajopto/footer.gif" width="632" height="33" border="0" alt="Buffalo Blast" /></td>
  </tr>
  <tr>
  	<td><p align="center"><a href="http://www.markitmedia.net/"><img src="http://www.markitmedia.net/Images/powered-by.png" border="0" /></a></p><br /></td>
  </tr>
  <tr>
  	<td><p style="font-size:12px; line-height:16px;" align="center">If you wish to not receive emails from Buffalo Blast, <a href="http://www.markitmedia.net/eblast/unsubscribe.php?email=%EMAIL%">click here to unsubscribe</a></p></td>
  </tr>
</table>
</body>
</html>