<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Buffalo Blast</title>
   <style type="text/css" media="screen">
   body {
	   margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;
   }
	.mainBody {
		background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif);
		background-repeat:repeat-y;
	}
	
	.tdLeft {
		width:260px;
		margin-right:15px;
		padding-left:32px;
		padding-right:32px;
		padding-top:10px;
		padding-bottom:20px;
	}
	
	.mainTable h1, .headerText {
		font-size:18px;
	}
	
	.mainTable p, .mainText {
		font-size:12px;
		line-height:16px;
	}
	
	.tdRight {
		width:263px;
		padding-top:10px;
		padding-right:30px;
	}
	
	.box {
		width:243px;
		padding:10px;
		background-color:#e1e1e1;
		margin-bottom:15px;
		float:left;
	}
	
   </style>
</head>
<body style="margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;">

<table width="632" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
    <p style="font-size:12px; line-height:16px;" align="center">If you are having trouble viewing this message click <a href="http://markitmedia.net/eblast/templates/navajopto/eblast-10-10-2011.html">here</a></p>
    <img src="http://www.markitmedia.net/eblast/templates/navajopto/header.gif" width="632" height="409" border="0" alt="Navajo PTO"></td>
  </tr>
  <tr>
    <td style="background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif); background-repeat:repeat-y;" background="http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif">
    	<table width="632" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td style="width:260px; margin-right:15px; padding-left:32px; padding-right:32px; padding-top:10px; padding-bottom:20px;" valign="top" cellpadding="0" cellspacing="0">
            	<h1 style="font-size:18px;">Fall Festival and Craft Fair, Sat Oct. 22nd  5 to 8 pm</h1>
                <p style="font-size:12px; line-height:16px;">We will be selling tickets and bracelets at Parent pick up the week of Fall Festival  10/19-10/21.  Tickets for food and games are 4 for $1. Ride bracelets are $7 presale and $8 the night of the event and raffle tickets are $1.  If you link your Fry's card (see below) and bring in the receipt you can get 4 FREE TICKETS!</p>
                <h1 style="font-size:18px;">We need your help to make Fall Festival a success!</h1>
                <p style="font-size:12px; line-height:16px;">Look out for the flyers coming home about this fun annual event.  We are looking for lots of volunteers to help, set up, clean up and work the event.  We also appreciate donations of candy for game prizes and baked goods for the cake walk. We are also seeking donations from our community to include in the Auction/Raffle. This is our best attended event of the year and offers great exposure for businesses. If you know a business interested in donating a service, product or gift card, please contact Sara Johnson at (480) 217-3707 or sdcphx@live.com by Oct. 20th. </p>
                <h1 style="font-size:18px;">Attention Crafters and Home-based Businesses</h1>
                <p style="font-size:12px; line-height:16px;">This is our third year to include a craft fair with our Fall Festival. If you are interested in selling a craft or product, or offering a service you can rent a table for $20 or we will waive the fee if you donate an item valued at $20 or more for our auction/raffle. Please contact Dennis Enriquez at 602-570-1262.</p>
                <h1 style="font-size:18px;">FREE WAYS FOR YOU TO HELP NAVAJO EARN MONEY</h1>
                <p style="font-size:12px; line-height:16px;">Connect your Fry's card by going to the customer service desk and giving them #10588.  Connect your Safeway card by going to escrip.com. Do You Shop at Fresh and Easy? Navajo gets $1 for every receipt with a minimum of $20!  If your receipt is $40 we get $2 and so on … Please put your receipts in the marked box in the front office or send in with your child. </p>
                <h1 style="font-size:18px;">Used Book Drive</h1>
                <p style="font-size:12px; line-height:16px;">We are beginning to collect books for our used book sale. We are accepting kid's books, adult fiction and non-fiction, even coloring books. Please bring them to the TAPs workroom across from the main office.</p>
                <h1 style="font-size:18px;">We Need Your Trash!</h1>
                <p style="font-size:12px; line-height:16px;">Do you have shoeboxes? 35mm film canisters? Or scraps of yarn? Old cookie sheets? Check out the wishlist link of our website navajopto.org. Please bring them in to the TAPs room.</p>
            <td style="width:263px; padding-top:10px; padding-right:30px;" valign="top">
            	<div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Dates to Remember</h1>
                    <p style="font-size:12px; line-height:16px;">                            
                        10/10 &ndash; 10/14 FALL BREAK<br />
                        10/22 &ndash; Fall Festival<br />
                        10/25 &ndash; Picture Retakes
                    </p>
                </div>
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">THANK YOU to our growing list of donors for supporting our auction</h1>
                    <p style="font-size:12px; line-height:16px;">                            
                       Pasta Brioni<br />		
                        Harper's Nursery 	<br />	
                        Coit Carpet Cleaning<br />
                        Barro's Pizza	<br />
                        Big Earl's BBQ	<br /> 
                        Fresh and Easy <br />	
                        Scottsdale Resort and Conference Center<br />
                        Julio's Too<br />
                        Paula Carr Dance Academy<br />
                        Arizona Cardinals	<br />	
                        McCormick Stillman Railroad Park, <br />
                        Trader Joe's<br />		
                        Dillards<br />
                        Wildlife World Zoo<br />
                        Uncle Sal's	<br />	
                        Sunflower<br />			 
                        Westworld Paintball Adventures<br />
                        Carlsbad Tavern	<br />
                        Valley Youth Theater<br />	
                        Brighton Jewelers<br />
                        Mi Patio <br />		
                        Toni and Guy<br />			
                        As You Wish<br />
                        Don and Charlie's<br />	
                        Dr. Seuss Orthodontics<br />		
                        Textures Salon<br />
                        Desert Botanical Gardens<br />
                        Basic Training MedX<br />
                        Phoenix Zoo<br />
                        Phoenix Suns<br />
                        Gameworks<br />
                        
                        And more...

                    </p> 
                </div>
            </td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td><img src="http://www.markitmedia.net/eblast/templates/navajopto/footer.gif" width="632" height="33" border="0" alt="Buffalo Blast" /></td>
  </tr>
  <tr>
  	<td><p align="center"><a href="http://www.markitmedia.net/"><img src="http://www.markitmedia.net/Images/powered-by.png" border="0" /></a></p><br /></td>
  </tr>
  <tr>
  	<td><p style="font-size:12px; line-height:16px;" align="center">If you wish to not receive emails from Buffalo Blast, <a href="http://www.markitmedia.net/eblast/unsubscribe.php?email=%EMAIL%">click here to unsubscribe</a></p></td>
  </tr>
</table>
</body>
</html>