<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Buffalo Blast</title>
   <style type="text/css" media="screen">
   body {
	   margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;
   }
	.mainBody {
		background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif);
		background-repeat:repeat-y;
	}
	
	.tdLeft {
		width:260px;
		margin-right:15px;
		padding-left:32px;
		padding-right:32px;
		padding-top:10px;
		padding-bottom:20px;
	}
	
	.mainTable h1, .headerText {
		font-size:18px;
	}
	
	.mainTable p, .mainText {
		font-size:12px;
		line-height:16px;
	}
	
	.tdRight {
		width:263px;
		padding-top:10px;
		padding-right:30px;
	}
	
	.box {
		width:243px;
		padding:10px;
		background-color:#e1e1e1;
		margin-bottom:15px;
		float:left;
	}
	
   </style>
</head>
<body style="margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;">

<table width="632" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
    
    <img src="http://www.markitmedia.net/eblast/templates/navajopto/header.gif" width="632" height="409" border="0" alt="Navajo PTO"></td>
  </tr>
  <tr>
    <td style="background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif); background-repeat:repeat-y;" background="http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif">
    	<table width="632" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td style="width:260px; margin-right:15px; padding-left:32px; padding-right:32px; padding-top:10px; padding-bottom:20px;" valign="top" cellpadding="0" cellspacing="0">
            	<h1 style="font-size:18px;">THANK YOU</h1>
                <p style="font-size:12px; line-height:16px;">Thank you to all the parents who signed-up for one of our many events and programs.  PTO couldn't do it without all our volunteers!</p>
                <h1 style="font-size:18px;">SKATELAND</h1>
                <p style="font-size:12px; line-height:16px;">Come enjoy an afternoon of fun and get to know other Navajo families.  Our first skate party of the year is Wed. August 31st from 2:30 to 5 pm and will have a LUAU theme.  Flyers with coupons have been sent home with all students.</p>
                <h1 style="font-size:18px;">CATALOG FUNDRAISER</h1>
                <p style="font-size:12px; line-height:16px;">This is our biggest fundraiser of the year.  We have a new company this year called MrZ/Red Apple. Catalogs were sent home today and you can order online as well! Get your Christmas shopping done early! You can find great deals on magazines , order a wide variety of food products and find fun items for the home.   With your support we hope to continue free after-school clubs and support the Navajo gardens and tortoise habitat.</p>
                <h1 style="font-size:18px;">BUZZBERRY THURSDAYS</h1>
                <p style="font-size:12px; line-height:16px;">Come out and support Navajo and a local business at the same time. We are resuming the sale of smoothies on Thursdays after school beginning Sept. 1st. They are available at parent pick-up for $3.</p>
                <h1 style="font-size:18px;">BUILDING MATERIALS NEEDED</h1>
                <p style="font-size:12px; line-height:16px;">We are building a desert tortoise habitat and would love to get some of the materials donated.  Some of the items we need are rebar, block, cement, mortar and wire rolls.  Please contact Sara Johnson at (480) 217-3707.</p>
            <td style="width:263px; padding-top:10px; padding-right:30px;" valign="top">
            	<div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Dates to Remember</h1>
                    <p style="font-size:12px; line-height:16px;">                            
                        8/29 &ndash; Dr. Peterson's office hours at Navajo, 9-10am<br />
                        8/31 &ndash; Early Release, 12:15 <br />
                        8/31 &ndash; Skateland, 2:30 – 5pm<br />
                        9/7 &ndash; PTO Meeting, 3:30pm<br />
                        9/15 &ndash; Ice Cream Social, 6–7pm<br />
                        9/16 &ndash; School Pictures<br />
                        9/23 &ndash; Coffee with Shaun, 9am
                    </p>
                </div>
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Seeking …</h1>
                    <p style="font-size:12px; line-height:16px;">                            
                        Vision and Hearing  Volunteers, contact Katy Foster at jfoster19@cox.net
                    </p> 
                    <p style="font-size:12px; line-height:16px;">
						Fall Festival Committee members, contact Dennis Enriquez at denriquez@scottsdaleaz.gov
                    </p>
                    <p style="font-size:12px; line-height:16px;">
						Art Masterpice volunteers, contact Sara Johnson at sdcphx@live.com 
                    </p>
                </div>
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">ART Wishlist</h1>
                    <p style="font-size:12px; line-height:16px;">                            
                        Yarn scraps and bottle caps. Please send in with your child.
                    </p>
                </div>
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Help out a Navajo Family</h1>
                    <p style="font-size:12px; line-height:16px;">                            
                        If you have an old, working refrigerator of any size please contact Anna Lawrence at (480) 313-4687. Recycle the clothes and shoes your children have outgrown by donating them to the school nurse. 
                    </p>
                </div>
            </td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td><img src="http://www.markitmedia.net/eblast/templates/navajopto/footer.gif" width="632" height="33" border="0" alt="Buffalo Blast" /></td>
  </tr>
  <tr>
  	<td><p align="center"><a href="http://www.markitmedia.net/"><img src="http://www.markitmedia.net/Images/powered-by.png" border="0" /></a></p><br /></td>
  </tr>
  <tr>
  	<td><p style="font-size:12px; line-height:16px;" align="center">If you wish to not receive emails from Buffalo Blast, <a href="http://www.markitmedia.net/eblast/unsubscribe.php?email=%EMAIL%">click here to unsubscribe</a></p></td>
  </tr>
</table>
</body>
</html>