<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Buffalo Blast</title>
   <style type="text/css" media="screen">
   body {
	   margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;
   }
	.mainBody {
		background-image:url(http://www.markitmedia.com/eblast/templates/navajopto/body_bg.gif);
		background-repeat:repeat-y;
	}
	
	.tdLeft {
		width:260px;
		margin-right:15px;
		padding-left:32px;
		padding-right:32px;
		padding-top:10px;
		padding-bottom:20px;
	}
	
	.mainTable h1, .headerText {
		font-size:18px;
	}
	
	.mainTable p, .mainText {
		font-size:12px;
		line-height:16px;
	}
	
	.tdRight {
		width:263px;
		padding-top:10px;
		padding-right:30px;
	}
	
	.box {
		width:243px;
		padding:10px;
		background-color:#e1e1e1;
		margin-bottom:15px;
		float:left;
	}
	
   </style>
</head>
<body style="margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;">

<table width="632" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
    <p style="font-size:12px; line-height:16px;" align="center">If you are having trouble viewing this message click <a href="http://markitmedia.com/eblast/templates/navajopto/eblast-08-22-2012.html">here</a></p>
    <img src="http://www.markitmedia.com/eblast/templates/navajopto/header.gif" width="632" height="409" border="0" alt="Navajo PTO"></td>
  </tr>
  <tr>
    <td style="background-image:url(http://www.markitmedia.com/eblast/templates/navajopto/body_bg.gif); background-repeat:repeat-y;" background="http://www.markitmedia.com/eblast/templates/navajopto/body_bg.gif">
    	<table width="632" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td style="width:260px; margin-right:15px; padding-left:32px; padding-right:32px; padding-top:10px; padding-bottom:20px;" valign="top" cellpadding="0" cellspacing="0">
            	<h1 style="font-size:18px;">Parent Orientation date has changed to Wednesday September 5th</h1>
                <p style="font-size:12px; line-height:16px;">Join Mr. Aguilar, Mr. Richie and the PTO in the cafeteria at 6pm for a brief introduction. We encourage you to sign up for one or more of the many event committees and get involved. The sheets will be posted in the cafeteria. Then continue on from the cafeteria to your child's classroom and meet his/her teacher.</p>
                <h1 style="font-size:18px;">PTO Packet Corrections</h1> 
                <p style="font-size:12px; line-height:16px;">Please look for a corrected cover page for your PTO packets that came home last week. You will find this on the reverse side of our follow-up welcome letter.</p>
                <h1 style="font-size:18px;">Are You on Facebook?</h1> 
                <p style="font-size:12px; line-height:16px;">Check out the attached flyer for a great way for Navajo to earn Target giftcards to use for classroom supplies and PTO events. This promotion is time sensitive so log into Facebook ASAP! This flyer will also be sent home along with the above mentioned corrections and letter.</p>                
            <td style="width:263px; padding-top:10px; padding-right:30px;" valign="top">
            	<div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Upcoming Events</h1>
                    <p style="font-size:12px; line-height:16px;">                            
                        9/03 &ndash; NO SCHOOL<br />
                        9/12 &ndash; Talent Show auditions, 3:30<br />
                    </p>
                </div>
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <p style="font-size:12px; line-height:16px;">Check out our website at navajopto.org
                    </p>
                </div>
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                	<p style="font-size:12px; line-height:16px;">Did you send in extra supplies for the science lab and for specials teachers? They greatly appreciate extra tissues, sanitizer, Clorox wipes and Ziploc bags.</p>

                </div>
            </td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td><img src="http://www.markitmedia.com/eblast/templates/navajopto/footer.gif" width="632" height="33" border="0" alt="Buffalo Blast" /></td>
  </tr>
  <tr>
  	<td><p align="center"><a href="http://www.markitmedia.com/"><img src="http://www.markitmedia.com/images/powered-by.png" border="0" /></a></p><br /></td>
  </tr>
  <tr>
  	<td><p style="font-size:12px; line-height:16px;" align="center">If you wish to not receive emails from Buffalo Blast, <a href="http://www.markitmedia.com/eblast/unsubscribe.php?email=%EMAIL%">click here to unsubscribe</a></p></td>
  </tr>
</table>
</body>
</html>