<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Buffalo Blast</title>
   <style type="text/css" media="screen">
   body {
	   margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;
   }
	.mainBody {
		background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif);
		background-repeat:repeat-y;
	}
	
	.tdLeft {
		width:260px;
		margin-right:15px;
		padding-left:32px;
		padding-right:32px;
		padding-top:10px;
		padding-bottom:20px;
	}
	
	.mainTable h1, .headerText {
		font-size:18px;
	}
	
	.mainTable p, .mainText {
		font-size:12px;
		line-height:16px;
	}
	
	.tdRight {
		width:263px;
		padding-top:10px;
		padding-right:30px;
	}
	
	.box {
		width:243px;
		padding:10px;
		background-color:#e1e1e1;
		margin-bottom:15px;
		float:left;
	}
	
   </style>
</head>
<body style="margin:0; background-color: #8fabb7; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d3d3d;">
<table width="632" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="http://www.markitmedia.net/eblast/templates/navajopto/header.gif" width="632" height="409" border="0" alt="Navajo PTO"></td>
  </tr>
  <tr>
    <td style="background-image:url(http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif); background-repeat:repeat-y;" background="http://www.markitmedia.net/eblast/templates/navajopto/body_bg.gif">
    	<table width="632" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td style="width:260px; margin-right:15px; padding-left:32px; padding-right:32px; padding-top:10px; padding-bottom:20px;" valign="top" cellpadding="0" cellspacing="0">
            	<h1 style="font-size:18px;">November Election</h1>
                <p style="font-size:12px; line-height:16px;">The School Bond is not the only major issue on the November 2nd ballot. In addition to the many positions up for election in our state government, there are two open seats on the Scottsdale School Board.  The three candidates are Pam Kirby, Denny Brown and incumbent Dieter Schaefer.  The School Board's decisions have a DAILY IMPACT on our children.  Click on each of their names to look at their information and answers to some questions at the following website  http://www.azcentral.com/news/election/questionnaire2010/schoolboard.php</p>
                <h1 style="font-size:18px;">Fall Festival</h1>
                <p style="font-size:12px; line-height:16px;">Fall Festival this year is on Saturday, October 23rd, and is a great family and community event. Parents talk to your homeroom parent about your child's classroom project for Fall Festival.  There will also be sign-ups coming home asking for volunteers at the game booths and for candy/cake donations.</p>
				<p style="font-size:12px; line-height:16px;">For the second year, the festival will include a "craft fair".  If you are a crafter, have a home-based business (i.e. Gold Canyon Candles, Avon etc...) or a local business owner looking to get the word out, you can rent a space for the evening for either $20 or by donating an item worth at least $20 to our Silent Auction. If you are interested please contact Missy at 602-919-5251.</p>
                <h1 style="font-size:18px;">Do You Shop at Fresh and Easy?</h1>
                <p style="font-size:12px; line-height:16px;">Fresh and Easy has begun a Shop for Schools Program.  For every receipt with a minimum of $20 F&E will give $1 back to our school. Please put your receipts in the box by the PTO bulletin board in the front office or send in with your child.  The collection period runs Sept. 15th to Dec. 31st.</p>
                <h1 style="font-size:18px;">Great American Fundraiser</h1>
                <p style="font-size:12px; line-height:16px;">Orders will be delivered on October 28th.  Did you know you can continue to order all year round and Navajo PTO will still get 40% of the proceeds if you log in with the school ID number? Go to www.gaschoolstore.com/onlineportal and use ID#948414.</p>
                <h1 style="font-size:18px;">Parent Teacher Conferences</h1>
                <p style="font-size:12px; line-height:16px;">Conferences will be during the week of Oct. 25th before and after school. There are no early release days this year.  Teachers will be sending home sign-ups soon.</p>
            <td style="width:263px; padding-top:10px; padding-right:30px;" valign="top">
            	<div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Upcoming Events</h1>
                    <p style="font-size:12px; line-height:16px;">                        
                        9/28 &ndash; Vision and Hearing Screening<br />
                        9/29 &ndash; Early Release 12:15<br />
                        9/30 &ndash; 50th Anniversary Meeting<br />
                        10/1 &ndash; Coffee with Shaun –come ask questions about the Bond (or email questions to email@navajopto.org)<br />
                        10/8 &ndash; Teacher Breakfast
                        
                        10/21 &ndash; PTO Meeting 3:30pm
                        10/23 &ndash; Fall Festival  5 – 8pm
                        10/25&ndash;29 &ndash; Conferences   
                    </p>
                </div>
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Did you Know?</h1>
                    <p style="font-size:12px; line-height:16px;">
                    	The teacher's lounge and the TAPs workroom used to be Kindergarten classrooms.
                    </p>
                    <p style="font-size:12px; line-height:16px;">
                    	There are 8 laptops for students to use in every classroom from grades 3-6.
                    </p>
                </div>
                
                <div style="width:243px; padding:10px; background-color:#e1e1e1; margin-bottom:15px; float:left;">
                    <h1 style="font-size:18px;">Remember</h1>
                    <p style="font-size:12px; line-height:16px;">
                    	Link your shopping cards and send in your BoxTops.
                    </p>
                    <p style="font-size:12px; line-height:16px;">
                    	FRY's: 0000010588
                    </p>
                    <p style="font-size:12px; line-height:16px;">
                    	SAFEWAY: eScrip.com
                    </p>
                    <p style="font-size:12px; line-height:16px;">
                    	ALBERTSONS: pick up key card in office
                    </p>
                    <p style="font-size:12px; line-height:16px;">
                    	Questions about how it works? Email jfoster19@cox.net
                    </p>
                </div>
            </td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td><img src="http://www.markitmedia.net/eblast/templates/navajopto/footer.gif" width="632" height="33" border="0" alt="Buffalo Blast" /></td>
  </tr>
  <tr>
  	<td><p style="font-size:12px; line-height:16px;" align="center">If you wish to not receive emails from Buffalo Blast, click here to unsubscribe</p></td>
  </tr>
</table>
</body>
</html>