<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MarkIT Media - Print Proof Form</title>
<link href="http://mmweb.co/proof/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrapper">
	<div id="main">
    	<div id="logo">
        	<img src="http://mmweb.co/proof/images/logo.png" width="739" height="149" border="0" />
        </div>
        <div class="contentWrapper">
        	<h1>Job: %JOB%</h1>
            <p>The following print item needs to be revised according to the clients comments:</p>
            <p><b>Comments:</b></p>
            <p>%COMMENTS%</p>
             <div class="clear"></div>
        </div>
        <div class="contentWrapper">
        	<div id="proof1">
            	<p>Front</p>
                <a href="http://mmweb.co/proof/Client_Proof/%FRONT%" target="_blank"><img src="http://mmweb.co/proof/Client_Proof/%FRONT%" width="334" height="209" border="0" /></a>
                <p class="small">click to enlarge</p>
            </div>
            <div id="proof2">
            	<p>Back</p>
                <a href="http://mmweb.co/proof/Client_Proof/%BACK%" target="_blank"><img src="http://mmweb.co/proof/Client_Proof/%BACK%" width="334" height="209" border="0" /></a>
                <p class="small">click to enlarge</p>
            </div>
            <div class="clear"></div>
        </div>
         <div class="clear"></div>
    </div>
</div>
</body>
</html>
