<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MarkIT Media - Print Proof Form</title>
<link href="http://mmweb.co/proof/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrapper">
	<div id="main">
    	<div id="logo">
        	<img src="http://mmweb.co/proof/images/logo.png" width="739" height="149" border="0" />
        </div>
        <div class="contentWrapper">
        	<h1>YOUR PROOF IS READY</h1>
            <p>In order to provide you with the best possible product, please take a few minutes to review your artwork.  Simply click on the link(s) below and review your proof.  Please be aware that we are unable to send files to press until you approve the artwork.</p>
            <p><a href="%LINK%">Click here to view your proof.</a></p>
            <p>Thank you for your business.</p>
             <div class="clear"></div>
        </div>
    </div>
</div>
</body>
</html>
