<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>MarkIT Media</title>
</head>
<body style="margin:0; background-color: #848485; font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#3d3d3d;">
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:20px;">
  <tr>
    <td>
    <img src="http://www.markitmedia.com/eblast/email_tracking.php?action=open&email=%EMAIL%&list=%LIST%&blast=%BLAST%" />
    <p style="font-size:12px; text-align:center;">Print, Web, Marketing and Graphic Specials from Markit Media. Click <a href="http://markitmedia.com/eblast/sents/markit-2013-06-17.html">here</a> to view in browser.</p>
    <a href="http://www.markitmedia.com/eblast/email_tracking.php?action=click&email=%EMAIL%&url=http://www.markitmedia.com&list=%LIST%&blast=%BLAST%" title="Visit Markit Media.com" alt="Visit Markit Media.com"><img src="http://www.markitmedia.com/eblast/templates/markit/body.jpg" width="600" height="1679" /></a>
  	<p style="font-size:12px; text-align:center; margin-bottom:15px;">You are receiving this email addressed to %EMAIL%, because you have been signed up to receive emails from Markit Media. If you wish to no longer receive emails, you may <a href="http://www.markitmedia.com/eblast/unsubscribe.php?list=%LIST%&email=%EMAIL%" style="color:#fff;">unsubscribe by clicking here</a>.</p></td>
  </tr>
</table>
</body>
</html>